{% extends 'catalog/base.html' %}

{% block title %}SkyMarket_BLOGS{% endblock %}

{% block content %}

{% include 'catalog/title.html' %}
<div class="container">
    <a href="{% url 'blogs:blog_create' %}" class="btn btn-outline-secondary mb-3">Добавить новую запись</a>
    <div class="row text-center">
        {% for blog in blogs|slice:":100" %}
        <div class="col-3">
            <div class="card mb-4 box-shadow w-100">
                <div class="card-header text-truncate w-100">
                    {% if blog.image %}
                    <h4 class="my-0 font-weight-normal">{{ blog.title | truncatechars:100 }}</h4>
                    <img src="{{ blog.image.url }}" class="img-fluid object-fit-cover" style="height: 100px;"
                         alt="{{ blog.title }}">
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>{{ blog.content | truncatechars:100 }}</p>
                    <p>Просмотров - {{ blog.views_counter }}</p>
                    <a href="{% url 'blogs:blog_detail' blog.pk %}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Открыть</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}