{% extends 'catalog/base.html' %}

{% block title %}SkyMarket{% endblock %}

{% block content %}

{% include 'catalog/title.html' %}

<!--<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">-->
<!--    <h2 class="display-4">Создание нового поьзователя</h2>-->
<!--    <a href="{% url 'users:login' %}" class="btn btn-outline-secondary mb-3">← Назад к списку записей</a>-->
<!--</div>-->

<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <form method="post" class="row" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p}}
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                        Войти
                    </button>
<!--                    <a class="btn btn-lg btn-block btn-outline-primary" href=# role="button">Войти</a>&ndash;&gt;-->
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
