{% extends 'catalog/base.html' %}

{% block title %}SkyMarket{% endblock %}

{% block content %}

{% include 'catalog/title.html' %}
<div class="container">
    <a href="{% url 'catalog:product_create' %}" class="btn btn-outline-secondary mb-3">Добавить новый товар</a>
    <div class="row text-center">
        {% for product in products|slice:":100" %}
            {% if product.is_publicated %}
                <div class="col-3">
                    <div class="card mb-4 box-shadow w-100">
                        <div class="card-header text-truncate w-100">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" class="img-fluid object-fit-cover" style="height: 100px;"
                                 alt="{{ product.name }}">
                            {% endif %}
                            <h4 class="my-0 font-weight-normal">{{ product.name | truncatechars:100 }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ product.price }}</h1>
                            <p>{{ product.description | truncatechars:100 }}</p>
                            <a href="{% url 'catalog:product_detail' product.pk %}">
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Открыть</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}